#grid {
  width: 500px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
#result {
  margin-top: 400px;
}
.square {
  height: 200px;
  width: 200px;
  border: solid black 1px;
}

.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}
